*{
    box-sizing: border-box;
}

@media screen and (max-width: 280px){
    .container .col-6{
        margin: 0;
        padding: 0;
        max-width: 100%;
        height: auto;

    }
    }

.card {

    font-colour: yellow;
}